<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

</head>
<body>
    <div class="jumbotron " >
        <center>
            <h1>News Aggregator</h1></br>
            <a href="/" class="btn btn-primary">Refresh News</a>
        </center>   
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Times of India</h1>
                {% for article in page_obj1 %}
                    <section>
                        <article >
                            <img src="{{article.urlToImage}}" alt=""  width="325" height="200"/>
                            <h3>{{article.title}}</h3>
                            <p> {{article.description}}</p>
                            <a class="readmore" href="{{article.url}}">Read more</a>&nbsp;&nbsp;
                        </article>
                    </section>
                {%endfor%}
            </div>
            <div class="col-6">
                <h1>News API</h1>
                {% for article in page_obj2 %}
                    <section>
                        <article >
                            <img src="{{article.urlToImage}}" alt=""  width="325" height="200"/>
                            <h3>{{article.title}}</h3>
                            <p> {{article.description}}</p>
                            <a class="readmore" href="{{article.url}}">Read more</a>&nbsp;&nbsp;
                        </article>
                    </section>  
                {%endfor%} 
            </div>
            {% if page_obj1.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj1.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj1.paginator.page_range %}
                {% if page_obj1.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj1.number|add:'-3' and num < page_obj1.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj1.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj1.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj1.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    </div>
    
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



